* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 245, 245);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container {
  height: 500px;
  width: 350px;
  /* border: 2px solid black ; */
  padding: 15px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.todo-heading {
  padding: 4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.input-box-todo {
  margin-left: 1px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  background-color: #F0F1F1;
  padding-left: 10px;
  border: none;
  /* outline: none; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

.add-btn {
  width: 110px;
  height: 40px;
  border-radius: 10%;
  border: none;
  background-color: #4EB570;
  color: white;
  font-weight: bolder;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.list-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.list-item {
  list-style-type: none;
  padding: 5px;
  padding-left: 5px;
  border-radius: 5px;
  width: 97%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  position: relative;
}

.icons {
  position: absolute;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: #4EB570;
  color: #e3e3e3;
  border-radius: 5px;

}

.icons i {
  margin: 4px 8px;
  cursor: pointer;
  transition: 0.1s;

}

.checkbox {
  display: none; /* initially hidden */
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  accent-color: red;

}

input:focus {
  outline: none;
}

.icons {
  display: none;
}

.list-item:hover .icons {
  display: block;
}
.list-item:hover .checkbox {
  display: inline-block; /* visible on hover */
}
.item-name{
  margin-left: 27px;
  font-size: 18px;
}
.item-name:hover{
  cursor: pointer;
}